<ion-view view-title="Mensagem">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Mensagem</span>
        <input type="text" placeholder="Valor" ng-value="valor_mensagem" ng-model="texto_mensagem">
      </label>
      <button class="button button-full button-stable" ng-click="buscarMensagem()">
        Buscar
      </button>
      <button class="button button-full button-stable" ng-click="enviarMensagem()">
        Enviar SMS
      </button>
    </div>

  </ion-content>
</ion-view>
